.entry__container_links-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry__container_links-sign p {
    text-align: right;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    /*margin-right: 1.88rem;*/
    margin-right: 30.08px;
    cursor: pointer;
    transition: var(--transition-on-hover);
}

.entry__container_links-sign p:hover {
    opacity: var(--opacity-link);
    transform: scale3d(1.1, 1, 1.1);
    text-decoration: underline;
}

.entry__container_links-sign button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-green);
    /*padding: .5rem 1.25rem;*/
    padding: 8px 20px;
    outline: none;
    border: none;
    /*border-radius: 0.1875rem;*/
    border-radius: 3px;

    color: var(--color-text-dark);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;

    transition: var(--transition-on-hover);
}

.entry__container_links-sign button:hover {
    opacity: var(--opacity-btn);
}

@media screen and (max-width: 320px) {
    .entry__container_links-sign p {
        font-size: 10px;
        /*margin-right: 0.88rem;*/
        margin-right: 14px;
    }

    .entry__container_links-sign button {
        /*padding: .31rem 0.75rem;*/
        padding: 4.96px 12px;
        /*border-radius: 0.1875rem;*/
        border-radius: 3px;

        font-size: 10px;
        cursor: pointer;
    }
}
