.navbar-big-screens {
    display: flex;
}

.navbar-small-screens {
    display: none;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__links:hover {
}

.navbar__links_list {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.navbar__links_link {
    text-align: right;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    transition: var(--transition-on-hover);
    cursor: pointer;
}

.navbar__links_link:hover {
    text-decoration: underline;
    opacity: var(--opacity-btn);

}

.navbar__links_account {
    display: flex;
    flex-direction: row;
    margin-left: 3.12rem;
    align-items: center;
    gap: 0.81rem;
    cursor: pointer;
}

.navbar__links_account p {
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    transition: var(--transition-on-hover);
}

.navbar__links_account p:hover {
    text-decoration: underline;
    opacity: var(--opacity-btn);
}

.navbar__links_account div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 30px;
    height: 30px;
}

.navbar__links_account img {
    width: 10px;
    height: 10px;
}

.header__menu {
    display: none;
}

.navbar__menu_container_links-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__menu_container_links-sign p {
    text-align: right;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 1.88rem;
    cursor: pointer;
    transition: var(--transition-on-hover);
}

.navbar__menu_container_links-sign p:hover {
    opacity: var(--opacity-btn);
    transform: scale3d(1.1, 1, 1.1);
    text-decoration: underline;
}

.navbar__menu_container_links-sign button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-green);
    padding: .5rem 1.25rem;
    outline: none;
    border: none;
    border-radius: 0.1875rem;

    color: var(--color-text-dark);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;

    transition: var(--transition-on-hover);
}

.navbar__menu_container_links-sign button:hover {
    opacity: var(--opacity-btn);
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}


@media screen and (max-width: 768px) {
    .header__menu {
        display: flex;
        flex-direction: column;
    }

    .header__menu_btn {
        position: fixed;
        top: 24px;
        right: 36px;
        z-index: 50;
        cursor: pointer;
        transition: var(--transition-on-hover);
    }

    .header__menu_btn:hover {
        opacity: var(--opacity-btn);
    }

    .navbar-big-screens {
        display: none;
    }

    .navbar-small-screens {
        display: flex;
        justify-content: center;
        /*background: var(--color-footer);*/
        outline: 1px solid var(--color-footer);
        box-shadow: 0 0 5px 0 var(--color-footer);
        height: 100vh;
        width: 528px;
        padding: 9.94rem 5.62rem 5.75rem;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
    }

    .navbar__links {
        display: flex;
        flex-direction: column;
    }

    .navbar__links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.75rem;
    }

    .navbar__links_account {
        margin: 0;
    }

    .navbar__menu img {
        background: transparent;
    }
}

@media screen and (max-width: 320px) {
    .navbar__menu_container_links-sign p {
        font-size: 10px;
        margin-right: 0.88rem;
    }

    .navbar-small-screens {
        height: 100vh;
        width: 100%;
        padding: 9rem 0.62rem 3rem;
        top: 0;
        right: 0;
    }

    .header__menu_btn_opened {
        top: 23px;
        right: 21px;
    }

    .header__menu_btn_closed {
        top: 13.44px;
        right: 13.44px;
    }

    .navbar__menu_container_links-sign button {
        padding: .31rem 0.75rem;
        border-radius: 0.1875rem;

        font-size: 10px;
        cursor: pointer;
    }
}
