.navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__links_list {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.navbar__links_link {
    text-align: right;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.navbar__links_account {
    display: flex;
    flex-direction: row;
    margin-left: 3.12rem;
    align-items: center;
    gap: 0.81rem;
}

.navbar__links_account p {
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.navbar__links_account div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0F4157;
    border-radius: 6px;
    width: 30px;
    height: 30px;
}

.navbar__links_account img {
    width: 10px;
    height: 10px;
}

.navbar-menu {
    display: none;
}

.navbar__menu_container_links-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__menu_container_links-sign p {
    text-align: right;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 1.88rem;
}

.navbar__menu_container_links-sign button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-green);
    padding: .5rem 1.25rem;
    outline: none;
    border: none;
    border-radius: 0.1875rem;

    color: var(--color-text-dark);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;

    transition: var(--transition-on-hover);
}

.navbar__menu_container_links-sign button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .navbar__links {
        display: none;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar__menu img {
        background: transparent;
    }
}

@media screen and (max-width: 320px) {
    .navbar__menu_container_links-sign p {
        font-size: 10px;
        margin-right: 0.88rem;
    }

    .navbar__menu_container_links-sign button {
        padding: .31rem 0.75rem;
        border-radius: 0.1875rem;

        font-size: 10px;
        cursor: pointer;
    }
}
