.movies-not-found {
    background: transparent;
    color: var(--color-text-light);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    min-height: 400px;
}

.container_heading {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.container_button {
    /*margin-top: 250px;*/
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    color: var(--color-blue);
    font-size: 14px;
}

@media screen and (max-width: 515px){
    .container {
        min-height: 100%;
    }

    .container_heading {
        font-size: 20px;
    }

    .container_button {
        font-size: 11px;
        margin-top: 250px;
    }
}
